
/**
 * file: _layouts.sass
 * 
 */

/**
 * General styles
 */
.is-hidden
	display: none !important
.float-right
	float: right
.float-left
	float: left




/**
 * Styles for the hero 
 *
 * 1. 
 * 
 */
.hero
	margin-left: 40%
	+position(absolute, 31% null null null)



.hero__title
	color: $yellow
	display: inline-block
	font-size: 100px
	font-weight: 900
	text-transform: uppercase
	+margin(0)
	span
		background: black
		display: inline-block
		margin-bottom: 10px
		+padding(4px 20px)



/**
 * The following media queries make sure that the 
 * hero heading stays inside the body. It is also 
 * for Making sure the hero_cta button 
 */
@media screen and (max-width: 1000px)
	.hero
		margin-left: 27%
	.hero__title
		font-size: 80px

@media screen and (max-width: 700px)
	.hero__title
		font-size: 60px

@media screen and (max-width: 500px)
	.hero
		margin-left: 16px
	.hero__title
		font-size: 52px

@media screen and (max-width: 335px)
	.hero__title
		font-size: 40px









