
/**
 * Disallow text selection 
 */
=no-select
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none




// Sizes for media queries or containers 
$largest: 1160px
$large: 960px
$medium: 600px
$small: 320px
$sizes: (largest: $largest, large: $large, medium: $medium, small: $small)


// Colors 
$yellow: #f2e30c
$color-text: lighten(black, 15)



$z-indexes: ('modal': 5001, 'overlay': 5000, 'default': 1, 'below': -1)





